.authentication {
  min-height: 100vh;
  .authentication-brand {
    &.desktop-logo {
      display: block;
    }
    &.desktop-dark {
      display: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;
  }
  .swiper-pagination-bullet-active {
    opacity: 0.5;
  }
  .google-svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-inline-end: 0.5rem;
  }
  .authentication-barrier {
    position: relative;
    span {
      position: relative;
      z-index: 2;
    }
    &:before {
      position: absolute;
      content: "";
      width: 45%;
      height: 0.125rem;
      background-image: linear-gradient(to left, transparent, $light);
      border-radius: 50%;
      inset-inline-end: 0;
      inset-block-start: 0.563rem;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 45%;
      height: 0.125rem;
      background-image: linear-gradient(to left, $light, transparent);
      border-radius: 50%;
      inset-inline-start: 0;
      inset-block-start: 0.563rem;
      z-index: 1;
    }
  }
  &.under-maintenance {
    .authentication-cover {
    }
  }
  .coming-soom-image-container,
  .under-maintenance-image-container {
    img {
      width: 100%;
      height: auto;
    }
  }
  .authentication-cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &.authentication-basic {
    .desktop-dark {
      display: none;
    }
    .desktop-logo {
      display: block;
    }
  }
  .form-control-lg {
    &#one,
    &#two,
    &#three,
    &#four {
      padding-inline: 0;
    }
  }
}
[data-theme-mode="dark"] {
  .authentication {
    &.authentication-basic {
      .desktop-dark {
        display: block;
      }
      .desktop-logo {
        display: none;
      }
    }
    .authentication-brand {
      &.desktop-logo {
        display: none;
      }
      &.desktop-dark {
        display: block;
      }
    }
  }
}
.authentication {
  .desktop-logo,
  .desktop-dark {
    height: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 576px) {
  .authentication-img img{
    height: 500px;
  }
}
.cover {
  position: relative;
  background-image: url(http://127.0.0.1:8000/build/assets/img/authentication/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
    &:before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      z-index: -1;
      height: 100%;
      width: 100%;
      content: "";
      background-color: $primary-09;
  }
}
.cover1 {
  position: relative;
  display: inline-table;
  height: 100%;
  width: 100%;
  background-image: url(http://127.0.0.1:8000/build/assets/img/authentication/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:before {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    background-color:  $primary-09;
}
}
.contst-img{
  height: 35rem;
}