/* Start:: Sales Dashboard Styles */

.main-card-icon {
  inset-block-end: 0.75rem;
  inset-inline-end: 1rem;
  position: absolute;
  padding: 0.75rem;
  border-radius: $default-radius;
}

.sales-value{
  position: relative;
  .chart-circle-value{
    position: absolute;
    font-size: 3rem;
    line-height: 70px;
    border: 2px dashed $primary;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
    top: -1.25rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .donut-value{
   margin: auto;
   font-weight: 700;
   font-size: 1.25rem;
  }
}
#sales-donut {
  height: 230px !important;
  width: 100% !important;
  margin: 0 auto;
}
#visitors .apexcharts-tooltip, #visitors .apexcharts-xaxistooltip, #visitors .apexcharts-gridlines-horizontal {
  display: none;
}
#visitors .apexcharts-grid-borders line{
  stroke: transparent;
}
.apexcharts-xcrosshairs, .apexcharts-ycrosshairs {
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease all;
}
.top-selling{
  tr{
    td{
      padding: .5rem;
    }
  }
}
/* End:: Sales Dashboard Styles */

/* Start:: Ecommerce Dashboard Styles */
.ecommerce-icon {
  svg {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.35rem;
    border-radius: $default-radius;

    &.primary {
      background-color: $primary;
    }

    &.secondary {
      background-color: $secondary;
    }

    &.success {
      background-color: $success;
    }

    &.warning {
      background-color: $warning;
    }
    &.info {
      background-color: $info;
    }
    &.danger {
      background-color: $danger;
    }
  }
}
.orader-table{
  table{
    tr{
      td{
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        padding-block-end: 1rem;
        padding-block-start: 1rem;
      }
    }
  }
}
.ecommerce-sale-image {
  img {
    height: 16.625rem;
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.ecommerce-bankoffer-details {
  font-size: 0.75rem;
  width: 70%;
  border-radius: $default-radius;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0.8;
  padding: 0.625rem;
  backdrop-filter: blur(1.875rem);
}

.ecommerce-sale-days {
  position: absolute;
  bottom: 1.25rem;
  font-size: 0.75rem;
  border-radius: $default-radius;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0.8;
  padding: 0.25rem 0.625rem;
  backdrop-filter: blur(1.875rem);
}

.ecommerce-sales-calendar {
  position: absolute;
  inset-inline-end: 1.875rem;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.5rem 0.625rem;
  border-radius: 0.3rem;
  backdrop-filter: blur(1.875rem);
}

.active-tab tr:hover .orders-arrow i {
  color: $primary;
  font-weight: 600;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

[dir="rtl"] {
  .orders-arrow i::before {
    content: "\EA64";
  }

  @media (max-width: 400px) {
    #earnings {
      .apexcharts-inner .apexcharts-xaxis {
        transform: translate(0, 1.25rem);
      }
    }
  }
}

.earning {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0.438rem;
    inset-inline-start: -0.813rem;
    bottom: 0.313rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3.125rem;
  }

  &.first-half:before {
    background-color: $primary-03;
  }

  &.top-gross:before {
    background-color: $primary;
  }

  &.second-half:before {
    background-color: #e4e7ed;
  }
}

.top-country-name {
  width: 4.5rem;
}
#earnings{
  width: 100% !important;
  .apexcharts-canvas{
     width: 100% !important;
  }
}
/* End:: Ecommerce Dashboard Styles */

/* Start:: Crypto Dashboard Styles */
.crypto-list {
  .list-group-item {
    padding: 0.8rem 1.25rem;
  }
}
@media (min-width: 576px) {
  .crypto-buy-sell-input {
    width: 45% !important;
  }
}
#myTabContent,
#buy-crypto,
#sell-crypto {
  .choices__inner {
    min-width: 5rem !important;
  }

  .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    display: none !important;
  }

  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-inline-end: 0 !important;
  }
}

#btc-chart,
#eth-chart,
#dash-chart,
#bitcoin-price-graph,
#etherium-price-graph,
#dash-price-graph,
#ripple-price-graph,
#iota-price-graph,
#neo-price-graph {
  .apexcharts-grid {
    display: none;
  }
}

[dir="rtl"] {
  #bitcoin-price-graph,
  #etherium-price-graph,
  #dash-price-graph,
  #ripple-price-graph,
  #iota-price-graph,
  #neo-price-graph {
    float: right;
  }
}
.active-tab{ 
  tr td, tr td{
    padding: 1.2rem;
  }
}
#crypto{
  width: 100%;
  .apexcharts-canvas{
     width: 100% !important;
  }
}
/* End:: Crypto Dashboard Styles */

/* Start:: Jobs Dashboard Styles */
.basic-subscription,
.basic-application,
.pro-subscription {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    inset-inline-start: -0.938rem;
    border-radius: 0.3rem;
    inset-block-start: 0.6rem;
  }
}
.activity-table .table tr th{
 padding: 1rem
}

.basic-subscription:before {
  background-color: $primary;
}
.basic-application:before {
  background-color: $light;
}


.pro-subscription:before {
  background-color: $secondary;
}

#recent-jobs {
  max-height: 22.5rem;
}

#candidates-chart {
  .apexcharts-datalabels-group text {
    fill: $default-text-color !important;
  }
}

.recent-recruiter {
  max-width: 7rem;
}

/* End:: Jobs Dashboard Styles */

/* Start:: NFT Dashboard */
[dir="rtl"] {
  #nft-collections-slide {
    .swiper-slide {
      .card {
        direction: rtl;
      }
    }
    .swiper-wrapper .avatar.avatar-sm .avatar-badge {
      inset-block-start: -18% !important;
    }
  }
}
#nft-collections-slide {
  .swiper-wrapper .avatar.avatar-sm .avatar-badge {
    inset-block-start: -18% !important;
  }
}
.nft-auction-time {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: auto;
  bottom: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(255 255 255 / 0.1);
  --tw-backdrop-blur: blur(1.875rem);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
#nft-collections-slide {
  .card.custom-card .card-footer {
    padding: 1.05rem 1.25rem;
  }
}

.nft-table {
  &.table {
    td,
    th {
      padding: 0.83rem;
    }
  }
}
.nft-table2 {
  &.table {
    td,
    th {
      padding: 0.78rem;
    }
  }
}

.featured-nft {
  width: 100%;
  height: 13rem;
  border-radius: $default-radius;

  img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: $default-radius;
  }
}

.nft-auction-time {
  border-radius: 0.3rem;
  backdrop-filter: blur(1.875rem);
}
@media (min-width: 768px){
  .nft-auction-time {
      bottom: 1.25rem;
  }
}

.nft-like-section {
  position: absolute;
  inset-block-start: 1rem;
}

.nft-like-badge {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.875rem);
}

.nft-collector-progress {
  width: 3.125rem;
}

.nft-featuredcollect-image {
  height: 8.813rem !important;
  border-radius: $default-radius;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#top-collector {
  max-height: 28.375rem;
}

#nft-balance-chart {
  .apexcharts-grid {
    display: none;
  }
}

/* End:: NFT Dashboard */

/* Start:: Analytics Dashboard */
#analytics-bouncerate {
  position: absolute;
  inset-block-end: 0;
}

#sessions .apexcharts-datalabels-group text {
  fill: $default-text-color !important;
  font-size: 20px;
}

#analytics-views,
#analytics-followers {
  circle {
    fill: $custom-white;
  }

  #apexcharts-radialbarTrack-0 {
    stroke: $light;
  }
}

#analytics-views {
  .apexcharts-datalabels-group text {
    fill: $warning;
  }
}

#analytics-followers {
  .apexcharts-datalabels-group text {
    fill: $secondary;
  }
}

.analytics-visitors-countries li {
  margin-block-end: 1.385rem;
  font-weight: 500;

  &:last-child {
    margin-block-end: 0;
  }

  .progress {
    width: 6.25rem;
  }
}
  #sessions .apexcharts-legend{
    padding: 0px !important;
  }

#analytics-users {
  .apexcharts-grid {
    display: none;
  }
}

/* End:: Analytics Dashboard */

/* Start:: Projects Dashboard */
.team-members-card {
  li {
    margin-block-end: 1.5rem;

    &:last-child {
      margin-block-end: 0;
    }
  }

  #user1,
  #user2,
  #user3,
  #user4,
  #user5 {
    .apexcharts-grid {
      display: none;
    }
  }
}

.daily-task-card,
.projects-maintask-card {
  margin-block-end: 0;

  li {
    margin-block-end: 1.25rem;

    &:last-child,
    .card {
      margin-block-end: 0;
    }
  }
}

.project-transactions-card {
  margin-block-end: 0;

  li {
    margin-block-end: 1.45rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.projects-tracking-card {
  background-color: $white;
  position: relative;

  .card-body {
    z-index: 1;
  }

  img {
    width: 10rem;
    height: 10rem;
  }
}

.shape-1,
.shape-2,
.shape-3,
.shape-4,
.shape-5,
.shape-6,
.shape-7,
.shape-8,
.shape-9,
.shape-10,
.shape-11,
.shape-12,
.shape-13,
.shape-14,
.shape-15,
.shape-16 {
  position: absolute;
  animation: animate 2s linear infinite wase;

  i {
    opacity: 0.2;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

.shape-1 {
  inset-inline-start: 20%;
  inset-block-start: 20%;
  animation: animate 4s linear infinite;
}

.shape-2 {
  inset-inline-start: 5%;
  inset-block-start: 42%;
  animation: animate 5s linear infinite;
}

.shape-3 {
  inset-inline-end: 15%;
  inset-block-end: 55%;
  animation: animate 7s linear infinite;
}

.shape-4 {
  inset-inline-start: 55%;
  inset-block-start: 25%;
  animation: animate 10s linear infinite;
}

.shape-5 {
  inset-inline-start: 50%;
  inset-block-end: 30%;
  animation: animate 8s linear infinite;
}

.shape-6 {
  inset-inline-end: 10%;
  inset-block-end: 10%;
  animation: animate 4s linear infinite;
}

.shape-7 {
  inset-inline-start: 20%;
  inset-block-end: 17%;
  animation: animate 5s linear infinite;
}

.shape-8 {
  inset-inline-end: 20%;
  inset-block-end: 17%;
  animation: animate 7s linear infinite;
}

.shape-16 {
  inset-inline-start: 20%;
  inset-block-start: 5%;
  animation: animate 7s linear infinite;
}

.shape-15 {
  inset-inline-start: 5%;
  inset-block-start: 42%;
  animation: animate 11s linear infinite;
}

.shape-14 {
  inset-inline-end: 15%;
  inset-block-end: 55%;
  animation: animate 3s linear infinite;
}

.shape-13 {
  inset-inline-start: 5%;
  inset-block-start: 25%;
  animation: animate 3s linear infinite;
}

.shape-12 {
  inset-inline-start: 50%;
  inset-block-end: 3%;
  animation: animate 9s linear infinite;
}

.shape-11 {
  inset-inline-end: 10%;
  inset-block-end: 10%;
  animation: animate 5s linear infinite;
}

.shape-10 {
  inset-inline-start: 22%;
  inset-block-end: 9%;
  animation: animate 3s linear infinite;
}

.shape-9 {
  inset-inline-end: 2%;
  inset-block-end: 7%;
  animation: animate 6s linear infinite;
}

.upcoming-shedule .sh-link {
  padding: 0.6rem;
  border-radius: 3px !important;
  min-width: 55px;
  max-width: 55px;
  transition: all ease 0.3s;
}

.upcoming-shedule .sh-shedule {
  position: relative;
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
}

.upcoming-shedule .sh-shedule::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  width: 0.25rem;
  border-radius: 0.25rem;
  background-color: $primary;
}

.upcoming-shedule .sh-shedule-container > .list-item:nth-child(2) .sh-shedule::before {
  background-color: $secondary;
}

.upcoming-shedule .sh-shedule-container > .list-item:nth-child(3) .sh-shedule::before {
  background-color: $success;
}

.upcoming-shedule .sh-shedule-container > .list-item:nth-child(4) .sh-shedule::before {
  background-color: $danger;
}

.sh-calendar {
  height: 35px;
  line-height: 1;
  width: 80px;
}
.sh-shedule-container .list-item{
  font-weight: 500;
}
.upcoming-shedule .nav-pills .nav-link{
  background-color: $light;
}

[dir="rtl"] {
  #projectAnalysis {
    .apexcharts-canvas .apexcharts-yaxis .apexcharts-yaxis-texts-g {
      transform: translate(0.5rem, 0);
    }
  }
}

/* End:: Projects Dashboard */

/* Start:: CRM Dashboard */
#crm-total-customers,
#crm-total-revenue,
#crm-conversion-ratio,
#crm-total-deals {
  .apexcharts-grid line,
  .apexcharts-xaxis line,
  .apexcharts-grid-borders line {
    stroke: transparent;
  }
}
.crm-recent-activity {
  li {
    padding-block-end: 1.35rem;
    font-size: 0.75rem;
    line-height: 1rem;

    &:last-child {
      padding-block-end: 0;
    }
  }

  .crm-timeline-content {
    width: 16.5rem;
  }

  .crm-recent-activity-content {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      background-color: transparent;
      inset-block-start: 0.85rem;
      inset-inline-start: 0.26rem;
    }

    &:nth-child(1) {
      &::before {
        border-inline-end: 1px dashed $primary-02;
        height: 75%;
      }
    }

    &:nth-child(2) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--secondary-rgb), 0.2);
        height: 75%;
      }
    }

    &:nth-child(3) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--success-rgb), 0.2);
        height: 70%;
      }
    }

    &:nth-child(4) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--pink-rgb), 0.2);
        height: 75%;
      }
    }

    &:nth-child(5) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--warning-rgb), 0.2);
        height: 47%;
      }
    }

    &:nth-child(6) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--info-rgb), 0.2);
        height: 70%;
      }
    }

    &:nth-child(7) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--dark-rgb), 0.2);
        height: 75%;
      }
    }
    &:nth-child(8) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--primary-rgb), 0.2);
        height: 75%;
      }
    }
    &:nth-child(9) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--secondary-rgb), 0.2);
        height: 60%;
      }
    }
    &:nth-child(10) {
      &::before {
        border-inline-end: 1px dashed rgba(var(--success-rgb), 0.2);
        height: 70%;
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

#crm-leadsbysource .apexcharts-datalabels-group text {
  fill: var(--default-text-color) !important;
}

.crm-lead-legend {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    border-radius: $default-radius;
    inset-block-start: 0.375rem;
    inset-inline-start: -0.625rem;
  }

  &.mobile:before {
    background-color: $primary;
  }

  &.desktop:before {
    background-color: $secondary;
  }

  &.laptop:before {
    background-color: $warning;
  }

  &.tablet:before {
    background-color: $success;
  }
}

.crm-leadsinprogress {
  margin-block-end: 0;

  li {
    margin-block-end: 1.3rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.leads-source-chart {
  canvas {
    position: relative;
  }

  .lead-source-value {
    position: absolute;
    text-align: center;
  }
}

#crm-main circle {
  fill: transparent;
}

#crm-main .apexcharts-datalabels-group text {
  fill: rgba(255, 255, 255, 0.9);
}

#crm-main #apexcharts-radialbarTrack-0 {
  stroke: rgba(0, 0, 0, 0.2);
}

.crm-main-content {
  position: absolute;
  bottom: 20px;
}

.crm-top-deals {
  li {
    margin-block-end: 0.9rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

#crm-revenue-analytics {
  .apexcharts-title-text {
    transform: translateY(0.625rem);
  }

  @media (max-width: 575.98px) {
    .apexcharts-canvas {
      .apexcharts-toolbar {
        inset-block-start: 0.75rem !important;
        inset-inline-end: 0 !important;
      }

      .apexcharts-title-text {
        font-size: 0.74rem;
      }
    }
  }
}

#leads .apexcharts-tooltip, #leads .apexcharts-xaxistooltip, #leads .apexcharts-gridlines-horizontal {
  display: none;
}
#leads .apexcharts-grid-borders line{
  stroke: transparent;
}

#leads-source {
  height: 18rem !important;
  width: auto !important;
}

.crm-deals-status li {
  position: relative;
  margin-block-end: 1rem;
  margin-inline-start: 1rem;

  &:last-child {
    margin-block-end: 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    inset-block-start: 0.375rem;
    inset-inline-start: -1rem;
    border-radius: 50%;
  }

  &.primary {
    &:before {
      background-color: $primary;
    }
  }

  &.info {
    &:before {
      background-color: $info;
    }
  }

  &.warning {
    &:before {
      background-color: $warning;
    }
  }

  &.success {
    &:before {
      background-color: $success;
    }
  }
}

[dir="rtl"] {
  #earnings {
    .apexcharts-yaxis-title {
      transform: translateX(-5.3125rem);
    }
  }

  #bar-basic {
    .apexcharts-yaxis.apexcharts-xaxis-inversed {
      .apexcharts-text.apexcharts-yaxis-label.apexcharts-yaxis-label {
        transform: translateX(-4.375rem);
      }
    }
  }
}

.crm-deals-forecast-revenue {
  li {
    margin-block-end: 1.25rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

#top-country-deals {
  height: 14.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  #jvm-markers-labels-group {
    display: none;
  }

  #jvm-regions-group path {
    fill: $light !important;
  }

  circle {
    right: 5;
  }
}

#top-country-deals circle:nth-child(1) {
  fill: $primary;
  stroke: $primary-03;
  stroke-width: 20;
}

#top-country-deals circle:nth-child(2) {
  fill: $secondary;
  stroke: rgba(var(--secondary-rgb), 0.2);
  stroke-width: 20;
}

#top-country-deals circle:nth-child(3) {
  fill: $danger;
  stroke: rgba(var(--danger-rgb), 0.2);
  stroke-width: 20;
}

#top-country-deals circle:nth-child(4) {
  fill: $info;
  stroke: rgba(var(--info-rgb), 0.2);
  stroke-width: 20;
}

#top-country-deals circle:nth-child(5) {
  fill: $warning;
  stroke: rgba(var(--warning-rgb), 0.2);
  stroke-width: 20;
}

#top-country-deals circle:nth-child(6) {
  fill: $success;
  stroke: rgba(var(--success-rgb), 0.2);
  stroke-width: 20;
}

/* End:: CRM Dashboard */

/* Start:: HRM Dashboard */
.card.custom-card.hrm-main-card {
  border-top-width: 3px;
  border-top-style: solid;

  &.primary {
    border-color: $primary-03;
  }

  &.secondary {
    border-color: rgba(var(--secondary-rgb), 0.3);
  }

  &.warning {
    border-color: rgba(var(--warning-rgb), 0.3);
  }

  &.danger {
    border-color: rgba(var(--danger-rgb), 0.3);
  }
}

.timeline-widget {
  position: relative;
  overflow-x: auto;

  &:before {
    position: absolute;
    content: "";
    width: 0.125rem;
    height: 100%;
    background-color: $default-border;
    inset-block-start: 0;
    inset-inline-start: 3rem;
  }

  .timeline-widget-list {
    margin-block-end: 1.35rem;
    position: relative;
    font-weight: 500;

    &:before {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      inset-inline-start: 2.688rem;
      top: 0.25rem;
      border-radius: 3.125rem;
      border: 0.125rem solid $default-border;
      background-color: $custom-white;
    }

    &:last-child {
      margin-block-end: 0;
    }

    .timeline-widget-content {
      max-width: 14rem;
    }
  }
}
.timeline-widget.timeline-2 .timeline-widget-list .timeline-widget-content{
    max-width: 24rem;
}

#jobs-summary {
  .apexcharts-pie text {
    fill: $default-text-color !important;
  }
}
.job-notice{
  display: block !important;
  line-height: 1 !important;
  padding: 8px;
  text-align: center;
}
.hrm-jobs-legend {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.5rem;
    inset-block-start: 0.375rem;
    inset-inline-start: -0.625rem;
  }

  &.published:before {
    background-color: $primary;
  }

  &.private:before {
    background-color: $primary-05;
  }

  &.closed:before {
    background-color: rgb(243, 246, 248);
  }

  &.onhold:before {
    background-color: rgb(35, 35, 35);
  }
}

[dir="rtl"] {
  @media (max-width: 404px) {
    #performanceReport {
      .apexcharts-xaxis {
        transform: translate(0px, 20px);
      }
    }
  }

  @media (max-width: 525px) {
    #subscriptionOverview {
      .apexcharts-xaxis {
        transform: translate(0px, 40px);
      }
    }
  }
}

/* End:: HRM Dashboard */

/* Start:: Stocks Dashboard */
#totalInvested,
#totalInvestments,
#totalReturns,
#returnsRate {
  .apexcharts-grid-borders line,
  .apexcharts-grid line {
    stroke: transparent;
  }
}

.my-stocks-ul {
  li {
    padding: 0.87rem 1rem;
    border-bottom: 1px dashed $default-border;

    &:last-child {
      border-bottom: 0;
    }
  }
}

/* End:: Stocks Dashboard */

/* Start:: Courses Dashboard */
.category-link {
  padding: 1.25rem;
  border-radius: $default-radius;
  border: 1px solid $default-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-muted;
  transition: all ease 0.3s;

  &.primary .category-svg {
    fill: $primary;
  }

  &.secondary .category-svg {
    fill: $secondary;
  }

  &.warning .category-svg {
    fill: $warning;
  }

  &.success .category-svg {
    fill: $success;
  }
}

.category-link .category-svg {
  height: 1.875rem;
  width: 1.875rem;
  margin-block-end: 1rem;
  transition: all ease 0.3s;
}

.category-link.primary:not(.active):hover,
.category-link.primary.active {
  color: $primary;
  background-color: $primary-01;
  border-color: $primary-02;
}

.category-link.secondary:not(.active):hover,
.category-link.secondary.active {
  color: $secondary;
  background-color: rgba(var(--secondary-rgb), 0.1);
  border-color: rgba(var(--secondary-rgb), 0.2);
}

.category-link.warning:not(.active):hover,
.category-link.warning.active {
  color: $warning;
  background-color: rgba(var(--warning-rgb), 0.1);
  border-color: rgba(var(--warning-rgb), 0.2);
}

.category-link.success:not(.active):hover,
.category-link.success.active {
  color: $success;
  background-color: rgba(var(--success-rgb), 0.1);
  border-color: rgba(var(--success-rgb), 0.2);
}

.course-status-progress {
  width: 3.125rem;
}

.courses-instructors {
  li {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

[dir="rtl"] {
  #courses-earnings {
    .apexcharts-yaxis {
      transform: translate(1.625rem, 0);
    }
  }

  @media (max-width: 420px) {
    #courses-earnings {
      .apexcharts-xaxis {
        transform: translate(-10px, 20px);
      }
    }
  }
}

/* End:: Courses Dashboard */

/* Start:: Personal Dashboard */
.personal-upcoming-events {
  li {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.personal-messages-list {
  li {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }

    .message {
      max-width: 16rem;
    }
  }
}

.circle-progress {
  position: relative;
  z-index: 1;
}

.circle-progress::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 0;
  inset-inline-end: 0;
  background-image: linear-gradient(102deg, transparent 41%, $primary-05 0%),
    linear-gradient(90deg, #f3f3f3 50%, transparent 50%);
  z-index: -1;
}

.personal-goals-list {
  li {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.personal-favourite-contacts {
  li {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }
}
#sleepTrack,
#waterTrack {
  .apexcharts-grid {
    display: none;
  }
}

.card.custom-card.accunt-details-card {
  position: relative;
  overflow: hidden;
  background-color: $primary !important;
  box-shadow: none;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(http://127.0.0.1:8000/build/assets/img/png-images/16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.2;
  }

  .card-body {
    z-index: 10;
  }
}

/* End:: Personal Dashboard */


/* Start:: Course  Dashboard */

#earningsReport .apexcharts-grid line{
  stroke: transparent;
}
/* End:: Course  Dashboard */

@media (max-width: 350px) {
  .btn-group .btn {
    padding: 0.45rem 0.70rem;
  }
}
#totalInvestmentsStats .apexcharts-canvas, #totalInvestmentsStats svg {
  width: 100% !important;
}