/* Start::app-header */
.app-header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 48;
  display: flex;
  height: 71px;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid $header-border-color;
  background: $header-bg;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  #mainHeaderProfile {
    color: $header-prime-color;
  }
}

@media (min-width: 992px) {
  .app-header {
    padding-inline-start: 16.3rem;
    padding-inline-end: 0.5rem;
  }
}
.header-dropdown{
  padding-block-start: 0.75rem;
  padding-block-end: 0.75rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
}
.header-icon-badge {
  position: absolute;
  padding:.15rem .45rem;
  inset-block-start: -0.2rem;
  inset-inline-end: 0.2rem;
  font-size: .625rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 0.9rem;
}
.badge-light-2{
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;

}
.header-icon {
  font-size: 1.2rem;
  line-height: 0.75rem;
 color: var(--header-prime-color);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.related-app {
  text-align: center;
  border-radius: $default-radius;
  border: 1px solid $default-border;

  &:hover {
    background-color: $light;
  }
}

.header-profile-dropdown {
  min-width: 20rem;
}

/* End::app-header */

/* Start::main-header-container */
.main-header-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;

  .header-content-left,
  .header-content-right {
    display: flex;
    align-items: stretch;
  }

  .header-element {
    display: flex;
    align-items: stretch;
  }

  .header-link {
    display: flex;
    align-items: center;
    padding: 1rem 0.65rem;
    color: var(--header-prime-color);

    &:hover,
    &.show {
      .header-link-icon {
        fill: $header-prime-color;
        color: $header-prime-color;
      }
    }
  }

  .header-link-icon {
    width: 1.85rem;
    height: 1.85rem;
    font-size: 1.125rem;
    color: $header-prime-color;
    fill: $header-prime-color;
    transition: all ease 0.05s;
    position: relative;
    padding: 0.33rem;
    border-radius: 50%;

    &:hover {
      background-color: $light;
    }
  }

  .dropdown-toggle {
    text-decoration: none;

    &::after {
      content: none;
    }
  }

  .main-profile-user {
    .dropdown-menu {
      width: 13rem;
    }

    .dropdown-item {
      font-weight: 400;
      font-size: 0.813rem;
      color: $default-text-color;
      padding: 1.25rem 1rem;
      height: 2.375rem;
      display: flex;
      align-items: center;

      &:hover {
        color: $primary;

        i {
          color: $primary;
          opacity: 1;
        }
      }
    }
  }

  .main-header-dropdown {
    box-shadow: 0 0.25rem 0.625rem rgba(20, 20, 20, 0.1);
    inset-block-start: 14px !important;
    &.header-shortcuts-dropdown {
      width: 20rem;
    }
    .dropdown-item {
      padding: 0.65rem;
      border-block-end: 1px solid $default-border;
      &:last-child {
        border-block-end: 0;
      }
    }
  }

  .cart-dropdown .main-header-dropdown {
    width: 20rem;
  }

  .notifications-dropdown .main-header-dropdown {
    width: 20rem;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
}

[dir="rtl"] {
  .sidemenu-toggle {
    .open-toggle {
      transform: rotate(180deg);
    }
  }
  .app-header {
    .dropdown-menu-end {
      --bs-position: end;
    }
  }
  .app-header .main-header-container .header-content-left .header-element .sidebar-toggle.sidemenu-toggle .header-icon{
    transform: rotate(180deg)
  }
}

/* End::main-header-container */

/* Start::Header-dropdown */
.header-product-item {
  padding-inline-start: 0;
  display: flex;

  li {
    position: relative;
    list-style-type: none;
    font-size: 0.75rem;
    font-weight: 400;
    padding-inline-end: 0.938rem;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4) {
    &:before {
      position: absolute;
      content: "";
      inset-inline-start: -0.438rem;
      width: 1px;
      inset-block-start: 0.25rem;
      height: 0.625rem;
      background-color: $text-muted;
      opacity: 0.1;
    }
  }
}

.header-cart-remove {
  i {
    margin-inline-start: 0.75rem;
    color: $danger;
    font-size: 16px;
    color: #c9d3da;
  }

  &:hover {
    i {
      color: $custom-black;
    }
  }
}

/* End::Header-dropdown */

/* Start::header-search */
#searchModal {
  .form-control {
    position: relative;
  }

  .input-group {
    border: 1px solid $input-border;
    border-radius: 0.25rem;

    i {
      color: $text-muted;
    }
  }
}

.search-tags {
  font-size: 0.75rem;
  color: $secondary;
  border: 1px solid $default-border;
  border-radius: 0.25rem;
  background-color: $secondary-02;
  padding: 0.375rem 0.75rem;
  line-height: 1.2rem;
  display: inline-flex;
  align-items: center;
  cursor: default;
  font-weight: 400;
  margin: 0.25rem 0;

  .tag-addon:last-child {
    border-radius: $default-radius;
  }

  a.tag-addon {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    color: inherit;
    text-decoration: none;
    background: $light;
    margin-inline-end: -0.4rem;
    margin-inline-start: 0.5rem;
    text-align: center;
    min-width: 1.5rem;

    i {
      vertical-align: middle;
      margin: 0 -0.25rem;
      line-height: 1.5px;
      font-size: 0.813rem;
      padding: 3px;
      &:hover{
        background: $secondary;
        border-radius: 50px;
        color: #fff;
        padding: 3px;
      }
    }
  }

  i {
    font-size: 0.813rem;
  }
}

/* End::header-search */

/* Start::header-country-selector */
.country-selector {
  .header-link img {
    width: 1.375rem;
    height: 1.375rem;
    padding: 0;
  }

  .dropdown-menu {
    img {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}

/* End::header-country-selector */

/* Start:header dropdowns scroll */
#header-shortcut-scroll,
#header-notification-scroll,
#header-cart-items-scroll {
  max-height: 20.5rem;
}
.drop-icon-wrap a {
  margin: -10px;
}
.main-grid {
  display: grid;
  padding: 4px 2px;
}
/* End:header dropdowns scroll */

/* Start::header badge pulse */
.pulse {
  display: block;
  cursor: pointer;
  animation: pulse-secondary 2s infinite;

  &.pulse-secondary {
    box-shadow: 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }
}

@-webkit-keyframes pulse-secondary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
  }
}

@keyframes pulse-secondary {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
    box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
    box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
    box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
  }
}

/* End::header badge pulse */

/* Start::Header theme-mode icon style */
[data-theme-mode="light"] {
  .layout-setting .dark-layout {
    display: none;
  }

  .layout-setting .light-layout {
    display: block;
  }
}

.layout-setting .dark-layout {
  display: none;
}

.layout-setting .light-layout {
  display: block;
}

[data-theme-mode="dark"] {
  .layout-setting .light-layout {
    display: none;
  }

  .layout-setting .dark-layout {
    display: block;
  }
}

/* End::Header theme-mode icon style */

/* Start::Header fullscreen responsive */
@media (max-width: 767.98px) {
  .header-element.header-fullscreen {
    display: none;
  }
}

/* End::Header fullscreen responsive */

/* Start::Responsive header dropdowns */
@media (max-width: 575.98px) {
  .app-header {
    .dropdown-menu {
      width: 100%;
    }
  }
}

/* End::Responsive header dropdowns */

/* Start::toggle */
[data-toggled="icon-overlay-close"],
[data-toggled="close-menu-close"],
[data-toggled="icon-text-close"],
[data-toggled="detached-close"],
[data-toggled="menu-click-closed"],
[data-toggled="menu-hover-closed"],
[data-toggled="icon-click-closed"],
[data-toggled="icon-hover-closed"] {
  .sidebar-toggle.sidemenu-toggle.header-link{
    .header-icon{
      transform: rotate(180deg);
    }
  }
}

/* End::toggle */

/* Start::header notification dropdown */
.notifications-dropdown{
  .header-notification-text {
    max-width: 12rem;
    display: block;
  }
  .dropdown-item-close1{
    display: none;
  }
  .dropdown-item:hover .dropdown-item-close1{
    display: block;
  }
}
/* Start::header notification dropdown */
